<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title >Calculadora</ion-title>
        <ion-button slot="end">C</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="default">Valor 1:</ion-label>
    <ion-input placeholder="Digite o valor 1" [(ngModel)]="valor1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="default">Valor 2:</ion-label>
    <ion-input placeholder="Digite o valor 2" [(ngModel)]="valor2"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-button expand="full" (click)="alertaSoma()">+</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" (click)="alertaSubtracao()" >-</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" (click)="alertaMultiplicacao()">*</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" (click)="alertaDivisao()">/</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" (click)="alertaMaior()">Maior</ion-button>
      </ion-col>
      <ion-col >
        <ion-button expand="full" (click)="alertaMenor()">Menor</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label position="default">Resultado:</ion-label>
    <ion-input [{resultado}]></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="default">Conta: </ion-label>
    <ion-input ></ion-input>
  </ion-item>
</ion-content>
